.liststyle {
  
  display: flex;
  padding: 20px;
  width: 330px;
  border: 2px solid rgb(241, 212, 166);
  border-radius: 10px;
  background-color: rgb(185, 163, 152);
  box-shadow: 0 6px 8px rgb(231, 231, 229), 0 -1px 3px rgb(228, 227, 224);
  
}

.information {

  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: auto;
}

.btn {
  
  height: 40px;
  width: 100px;
  margin: auto 0;
  background-color: rgb(89, 87, 85);
  cursor: pointer;
  border-radius: 10px;
  transition: 350ms;
  box-shadow: 0 6px 8px rgb(231, 231, 229), 0 -2px 1px rgb(228, 227, 224);

}

.btn:is(:hover, :focus) {
  background-color:rgb(185, 163, 152);
}

.name {
  display: flex;
  gap: 10px
}