.search {
  width: 250px;
  display: block;
  margin: 40px auto 0 auto;
color: rgb(255, 255, 255);
  
}

.input {
  padding: 10px;
  width: 250px;
  border-radius: 10px;  
  background-color:rgb(255, 255, 255); 
  box-shadow: 0 6px 8px rgb(231, 231, 229), 0 -2px 1px rgb(228, 227, 224);
   border: 2px solid rgb(241, 212, 166);
 
}
.input:is(:hover, :focus) {
  color: rgb(237, 235, 232);
  background-color:rgb(185, 163, 152);
}



